*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    
}
html, body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url(fifa1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
::-webkit-scrollbar{
    display:none;
}
.score_card{
    width:500px;
    border-radius:30px;
    background-color:red;
    display:block;
    margin: 150px auto;
    overflow:hidden;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(85,85,85, 0.9);
    border: solid 6px #555555;
}
.inner_card{
    width:400px;
    display:block;
    margin:0 auto;
    overflow:hidden;
}   
.left_team, .right_team{
    height:100%;
    display:block;
    width:150px;
    float: left;
}
.vs{
    float:left;
    text-align:center;
    color:white;
    font-size: 20px;
    padding-top:40px;
    width:calc(100% - 300px);
}
.left_team .team_container,
.right_team .team_container{

    font-size:18px;
    color:white;
    text-align: right;
     font-weight:300;
     width:100%;
    
}
.right_team .team_container{
text-align: left;
}
.left_team .team_container img,
.right_team .team_container img{
width:100px;
float:right;
display: block;
margin: 0 auto;
}
.right_team .team_container img{
    float:left;
}
.left_team .team_container span,
.right_team .team_container span{
font-size:50px;
clear: both;
display: block;
width: 81%;
margin-left: -6px;
}
.right_team .team_container span{
    margin-left: 36px;
}

.start{
    width: 100%;
    font-size: 30px;
    color:white;
text-align: center;
display: block;
padding-top: 30px;
}

.fact_card{

    width: 700px;
    height:300px;
    display:block;
    margin: 150px auto;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    border:solid 5px #555555;
    border-radius: 30px;
    background-color: rgba(85,85,85, 0.8);
}
.one_event{

width:100%;
font-size:23px;
color:white;
margin-bottom: 10px;

}
button{
    background: rgba(0, 0, 0, 0.2);
    border:none;
    width: 150px;
    height:50px;
    color:white;
    font-size:20px;
    text-align: center;
    border-radius: 20px;
    letter-spacing: 5px;
    transition: all 0.2s ease-out;
}
button:hover{
    background: rgba(0, 0, 0, 0.4);
    border:none;
    width: 150px;
    height:50px;
    transform: scale(1.05);
    color:white;
    font-size:20px;
    text-align: center;
    border-radius: 20px;
    letter-spacing: 5px;
}

@-webkit-keyframes fadeLeft{
	from{
opacity:0;
-webkit-transform:translate3d(-200%, 0, 0);
transform: translate3d(-200%, 0, 0);
	}
	to{
opacity:1;
-webkit-transform:none;
transform:none;
	}
}
@keyframes fadeLeft{
	from{
opacity:0;
-webkit-transform:translate3d(-200%, 0, 0);
transform: translate3d(-200%, 0, 0);
	}
	to{
opacity:1;
-webkit-transform:none;
transform:none;
	}
}
.fadeLeft{
	-webkit-animation-name:fadeLeft;
      animation-name:fadeLeft; 
      animation: 3s fadeLeft;
}
@-webkit-keyframes fadeRight{
from{
opacity:0;
-webkit-transform:translate3d(200%, 0, 0);
transform: translate3d(200%, 0, 0);
}
to{
opacity:1;
-webkit-transform:none;
transform:none;
}
}
@keyframes fadeRight{
	from{
opacity:0;
-webkit-transform:translate3d(200%, 0, 0);
transform: translate3d(200%, 0, 0);
	}
	to{
opacity:1;
-webkit-transform:none;
transform:none;
	}
}
.fadeRight{
-webkit-animation-name:fadeRight;
animation-name:fadeRight; 
animation: 3s fadeRight;   
}




























 



  .sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color:  #ff00aa;
    position: fixed;
    height: 100%;
    float: left;
    overflow: auto;

    
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: white;
    padding: 14px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #cc0088;
    font-weight: normal;
    margin: 10px;
    border-radius: 15px;
    transition: all 0.1s ease-out;
  }
  .sidebar i{
      float: left;
  }
  .sidebar a:hover:not(a.active){
    transform: scale(1.025);
  }
  .fas{
      font-size:20px;
  }
  .far{
    font-size:20px;
}
.sidebar a.active{
    border: 3px solid white;
}
.hide{
    display: none;
}




.sidebar1 {
    margin: 0;
    padding: 0;
    width: 75px;
    background-color:  #ff00aa;
    position: fixed;
    height: 100%;
    float: left;
    overflow: auto;
}
.sidebar1 a {
    display: block;
    color: white;
    padding: 14px;
    width: 25px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #cc0088;
    font-weight: normal;
    margin: 10px;
    border-radius: 15px;
    transition: all 0.1s ease-out;
  }
  .sidebar1 a:hover:not(a.active){
    transform: scale(1.04);
  }
  .sidebar1 a.active{
    border: 3px solid white;
}
